<!doctype html>
<html lang="ja">
<head>
  <meta content="text/html; charset=UTF-8" />
</head>
<body>
  <h2><%= @inquiry.name %>様からのお問合せ</h2>
    <hr />
      名前：<%= @inquiry.name %><br>
      メール：<%= @inquiry.email %><br>
      電話：<%= @inquiry.phone %><br>
      〒：<%= @inquiry.postcode %><br>
      住所：<%= @inquiry.prefecture_name %><%= @inquiry.address_city %><br>
      体験：<%= @inquiry.trial_flag? ? "希望する" : "希望しない" %><br>
      購入相談：<%= @inquiry.buy_consult_flag? ? "希望する" : "希望しない" %><br>
      HP作成相談：<%= @inquiry.hp_consult_flag? ? "希望する" : "希望しない" %><br>
      <p>内容：<%= simple_format(@inquiry.content) %></p>
      <p>日時：<%= @inquiry.created_at.strftime("%Y/%m/%d %H:%M") %></p>
      <hr style="border-top: 2px dashed black; margin-left: 1px; width: 200px;">
      <p>m☆COSMIC 事務局</p>
      <p>HP ： https://www.mstarcosmic.com</p>
      <p>email ： <%= ENV['USER_EMAIL'] %></p>
      <p>鹿田聖子</p>
   <hr />
</body>
</html>
