<%= render 'reserves/title' %>
<!--<= render 'reserves/machine' %>-->
<%= render 'reserves/staffs' %>
<!--  カレンダー先週・来週 ボタン です for admin--------->
<div class="week-flex">
 <div class="pre-week">
   <% if @start_date > Date.today %>
     <%= form_tag reserves_path, :method => "get" do %>
      <input type="hidden" name="calender_start_date" value="<%= (@start_date - 7) %>" >
      <input type="hidden" name="machine" value="<%= @machine %>" >
      <% if @staff.present? %>
        <input type="hidden" name="staff_id" value="<%= @staff.id %>" >
      <% end %>
      <%= button_tag :type => "submit", class: 'btn btn-info', :style => 'border-style: none;' do %>
      <i class="fas fa-chevron-left"></i> 前週
      <% end %>
     <% end %>
   <% end %>
 </div>
 <div class="next-week">
   <% if @start_date <= (Date.today + 28) %>
    <%= form_tag reserves_path, :method => "get" do %>
      <input type="hidden" name="calender_start_date" value="<%= (@start_date + 7) %>" >
      <input type="hidden" name="machine" value="<%= @machine %>" >
      <% if @staff.present? %>
        <input type="hidden" name="staff_id" value="<%= @staff.id %>" >
      <% end %>
      <%= button_tag :type => "submit", class: 'btn btn-info', :style => 'border-style: none;' do %>
      翌週 <i class="fas fa-chevron-right"></i>
      <% end %>
    <% end %>
   <% end %>
 </div>
</div>
<%= render 'reserves/calender_title' %>

<!---　カレンダーボタン end --------------->
<div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div class="table-responsive table-width reserve">
        <table class="table table-bordered table-hover">
          <thead class="bg-light reserves-calender" >
            <tr>
                <th scope="col"></th>
              <% 7.times do |i| %>
                  <% if (@start_date + i).wday.to_i == 0 || (@start_date + i).wday.to_i == 6 %>
                    <th class="calender-date sanday-saturday" scope="col"><%= (@start_date + i).strftime("%m/%d") %></th>
                  <% else %>
                    <th class="calender-date weekday" scope="col"><%= (@start_date + i).strftime("%m/%d") %></th>
                  <% end %>                  
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% 25.times do |t| %>    
                <tr>
                  <th class="calender-time" scope="row"><%= display_time(10 + t*0.5) %></th>
                    <% 7.times do |k| %>
                      <% unless (@start_date + k) == Date.today %>
                     <!-- カレンダーの左の列が本日じゃなければ  -->
                        <% reserve = new_reserve_availability_20230824(@machine, @staff, (@start_date + k), (10+t*0.5)) %>
                         <!-- 出勤簿が書かれて無い場合 <%= reserve[0] %>-->
                            <% if reserve[0] == -1 %>
                              <td class="holiday calender-today">==</td>
                              <!--< logger.debug("||||||||||||||||||||  = non_scheduled 本日ではない") %>-->
                         <!-- すでに予約が入っている場合 -->
                            <% elsif reserve[0] == 0 %>
                            <!-- 2件予約可能 <%= reserve[0] %> -->
                              <% if reserve[1].count === 1 %>
                              <!-- 予約の備考最初の10バイトを切り取る-->
                                  <% if reserve[1][0].remarks %>
                                   <% remarks = reserve[1][0].remarks[0..13] %>
                                  <% else %>
                                   <% remarks = "" %>
                                  <% end %>
                                    <td class="table-frame" align="center" id="reserved" data-bs-toggle="tooltip" data-bs-html="true" title="<%= User.find(reserve[1][0].user_id).name %><br><%= User.find(reserve[1][0].user_id).tel %><br><%= User.find(reserve[1][0].user_id).new_customer_display %><br><%= User.find(reserve[1][0].user_id).introducer %><br><%= Staff.find_by(id: reserve[1][0].staff_id).name %><br><%= reserve[1][0].machine %><br><%= remarks %>">✖</td>
                              <% elsif reserve[1].count === 2 %>
                                     <% #logger.debug("tooltip 2") %>
                                     <!-- 予約の備考最初の10バイトを切り取る-->
                                    <% tooltip_content1 = "#{User.find(reserve[1][0].user_id).name}<br>#{User.find(reserve[1][0].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][0].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][0].staff_id).name}<br>#{reserve[1][0].machine}<br>#{reserve[1][0].remarks[0..13]}" %>
                                    <% tooltip_content2 = "#{User.find(reserve[1][1].user_id).name}<br>#{User.find(reserve[1][1].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][1].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][1].staff_id).name}<br>#{reserve[1][1].machine}<br>#{reserve[1][1].remarks[0..13]}" %>
                                    <td class="table-frame" align="center" id="reserved" data-bs-toggle="tooltip" data-bs-html="true" title="<%= tooltip_content1 %><hr><%= tooltip_content2 %>" data-container="body">✖</td>
                              <% elsif reserve[1].count === 3 %>
                                     <% #logger.debug("tooltip 3") %>
                                     <!-- 予約の備考最初の10バイトを切り取る-->
                                    <% tooltip_content1 = "#{User.find(reserve[1][0].user_id).name}<br>#{User.find(reserve[1][0].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][0].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][0].staff_id).name}<br>#{reserve[1][0].machine}<br>#{reserve[1][0].remarks[0..13]}" %>
                                    <% tooltip_content2 = "#{User.find(reserve[1][1].user_id).name}<br>#{User.find(reserve[1][1].user_id).tel}<br>#{User.find(reserve[1][1].user_id).new_customer_display}<br>#{User.find(reserve[1][1].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][1].staff_id).name}<br>#{reserve[1][1].machine}<br>#{reserve[1][1].remarks[0..13]}" %>
                                    <% tooltip_content3 = "#{User.find(reserve[1][2].user_id).name}<br>#{User.find(reserve[1][2].user_id).tel}<br>#{User.find(reserve[1][1].user_id).new_customer_display}<br>#{User.find(reserve[1][2].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][2].staff_id).name}<br>#{reserve[1][2].machine}<br>#{reserve[1][2].remarks[0..13]}" %>
                                    <td class="table-frame" align="center" id="reserved" data-bs-toggle="tooltip" data-bs-html="true" title="<%= tooltip_content1 %><hr><%= tooltip_content2 %><hr><%= tooltip_content3 %>" data-container="body">✖</td>
                              <% else %>
                                    <td>==</td>
                              <% end %>
                               <% #logger.debug("||||||||||||||||||||  = reserved") %>
                             
                        
                          <% elsif reserve[0] == 2 %>
                          <!-- 1件予約可能  <%= reserve[0] %>--> 
                              <% if reserve[1].present? %>
                                <% if reserve[1].count === 1 %>
                                    <% tooltip_content = "#{User.find(reserve[1][0].user_id).name}<br>#{User.find(reserve[1][0].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][0].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][0].staff_id).name}<br>#{reserve[1][0].machine}<br>#{reserve[1][0].remarks}" %>
                                    <td class="table-frame" align="center" id="reserved" data-bs-toggle="tooltip" data-bs-html="true" title=<%= tooltip_content %> data-container="body">
                                       <%= link_to "◎", new_reserve_path(machine: @machine, date: (@start_date + k).to_s, frame: (10+t*0.5).to_s, start_date: @start_date.to_s, staff_id: @staff.id,format: :js), { :remote => true, "data-frame" => "#{10+t*0.5}", "data-date" => "#{@start_date + k}"} %>
                                    </td>
                                <% elsif reserve[1].count === 2 %>
                                    <% tooltip_content1 = "#{User.find(reserve[1][0].user_id).name}<br>#{User.find(reserve[1][0].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][0].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][0].staff_id).name}<br>#{reserve[1][0].machine}<br>#{reserve[1][0].remarks[0..13]}" %>
                                    <% tooltip_content2 = "#{User.find(reserve[1][1].user_id).name}<br>#{User.find(reserve[1][1].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][1].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][1].staff_id).name}<br>#{reserve[1][1].machine}<br>#{reserve[1][1].remarks[0..13]}" %>
                                    <td class="table-frame" align="center" id="reserved" data-bs-toggle="tooltip" data-bs-html="true" title="<%= tooltip_content1 %><hr><%= tooltip_content2 %>" data-container="body">
                                        <%= link_to "◎", new_reserve_path(machine: @machine, date: (@start_date + k).to_s, frame: (10+t*0.5).to_s, start_date: @start_date.to_s, staff_id: @staff.id,format: :js), { :remote => true, "data-frame" => "#{10+t*0.5}", "data-date" => "#{@start_date + k}"} %>
                                    </td>
                                <% end %>
                              <% else %>
                                <td>
                                  <%= link_to "◎", new_reserve_path(machine: @machine, date: (@start_date + k).to_s, frame: (10+t*0.5).to_s, start_date: @start_date.to_s, staff_id: @staff.id,format: :js), { :remote => true, "data-frame" => "#{10+t*0.5}", "data-date" => "#{@start_date + k}"} %>
                                </td>                          
                              <% end %>
                          
                             <% #logger.debug("||||||||||||||||||||  = reservable_two") %>
                            
                           <% elsif reserve[0] == 1 %>
                              <!--reservable_one ここ  reserve[1].count = <%= reserve[1].count %> -->
                             <% logger.debug("||||||||||||||||||||  = reservable_one at 本日ではない start #{reserve[1].count}") %>                            
                                 <% if reserve[1].count === 0 %>
                                   <td>
                                      <!--<= link_to "◯", new_reserve_path(machine: @machine, date: (@start_date + k).to_s, frame: (10+t*0.5).to_s, start_date: @start_date.to_s, staff_id: @staff.id), { :remote => true, "data-frame" => "#{10+t*0.5}", "data-date" => "#{@start_date + k}"} %>-->
                                      <%= link_to "◯", new_reserve_path(machine: @machine, date: (@start_date + k).to_s, frame: (10+t*0.5).to_s, start_date: @start_date.to_s, staff_id: @staff.id,format: :js), remote: true, data: { turbo: false,frame: "#{10+t*0.5}", date: (@start_date + k).to_s} %>

                                   </td>
                                 <% else %>
                                   <% if reserve[1].count === 1 %>
                                        <% tooltip_content = "#{User.find(reserve[1][0].user_id).name}<br>#{User.find(reserve[1][0].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][0].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][0].staff_id).name}<br>#{reserve[1][0].machine}<br>#{reserve[1][0].remarks}" %>
                                        <td class="table-frame" align="center" id="reserved" data-bs-toggle="tooltip" data-bs-html="true" title=<%= tooltip_content %> data-container="body">
                                           <%= link_to "◯", new_reserve_path(machine: @machine, date: (@start_date + k).to_s, frame: (10+t*0.5).to_s, start_date: @start_date.to_s, staff_id: @staff.id,format: :js), remote: true, data: { turbo: false,frame: "#{10+t*0.5}", date: (@start_date + k).to_s} %>
                                        </td> 
                                   <% elsif reserve[1].count === 2 %>
                                        <% tooltip_content1 = "#{User.find(reserve[1][0].user_id).name}<br>#{User.find(reserve[1][0].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][0].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][0].staff_id).name}<br>#{reserve[1][0].machine}<br>#{reserve[1][0].remarks[0..13]}" %>
                                        <% tooltip_content2 = "#{User.find(reserve[1][1].user_id).name}<br>#{User.find(reserve[1][1].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][1].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][1].staff_id).name}<br>#{reserve[1][1].machine}<br>#{reserve[1][1].remarks[0..13]}" %>
                                        <td class="table-frame" align="center" id="reserved" data-bs-toggle="tooltip" data-bs-html="true" title="<%= tooltip_content1 %><hr><%= tooltip_content2 %>" data-container="body">
                                           <%= link_to "◯", new_reserve_path(machine: @machine, date: (@start_date + k).to_s, frame: (10+t*0.5).to_s, start_date: @start_date.to_s, staff_id: @staff.id,format: :js), remote: true, data: { turbo: false,frame: "#{10+t*0.5}", date: (@start_date + k).to_s} %>
                                       </td>
                                    <% elsif reserve[1].count >= 3 %>
                                        <% tooltip_content1 = "#{User.find(reserve[1][0].user_id).name}<br>#{User.find(reserve[1][0].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][0].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][0].staff_id).name}<br>#{reserve[1][0].machine}<br>#{reserve[1][0].remarks[0..13]}" %>
                                        <% tooltip_content2 = "#{User.find(reserve[1][1].user_id).name}<br>#{User.find(reserve[1][1].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][1].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][1].staff_id).name}<br>#{reserve[1][1].machine}<br>#{reserve[1][1].remarks[0..13]}" %>
                                        <% tooltip_content3 = "#{User.find(reserve[1][2].user_id).name}<br>#{User.find(reserve[1][2].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][2].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][2].staff_id).name}<br>#{reserve[1][2].machine}<br>#{reserve[1][2].remarks[0..13]}" %>
                                        <td class="table-frame" align="center" id="reserved" data-bs-toggle="tooltip" data-bs-html="true" title="<%= tooltip_content1 %><hr><%= tooltip_content2 %><hr><%= tooltip_content3 %>" data-container="body">
                                           <%= link_to "◯", new_reserve_path(machine: @machine, date: (@start_date + k).to_s, frame: (10+t*0.5).to_s, start_date: @start_date.to_s, staff_id: @staff.id,format: :js), remote: true, data: { turbo: false,frame: "#{10+t*0.5}", date: (@start_date + k).to_s} %>
                                       </td>                                      
                                   <% end %>
                              
                                   
                                 <% end %>
                          
                          
                             <% #logger.debug("||||||||||||||||||||  = reservable_one at 本日ではない") %>                            

                          <% elsif reserve[0] == "non_scheduled" %> 
                             <td class="holiday calender-today">==</td>
                             <% #logger.debug("||||||||||||||||||||  = non_scheduled") %>
                          <% end %>                      

                      
                      <% else %>   <!-- if  start_date == Date.today  else to start_date != Date.today -->
                      <!-- カレンダーの左の列が本日なら  -->
                          <% reserve = new_reserve_availability_20230824(@machine, @staff, (@start_date + k), (10+t*0.5)) %>
                         <!-- 出勤簿が書かれて無い場合　-->
                            <% logger.debug("¥¥¥¥¥¥¥¥¥¥¥¥¥¥¥¥¥¥¥¥¥¥¥¥ #{reserve}") %>
                            <% if reserve[0] == -1 %>
                              <td class="holiday calender-today">==</td>
                              <% #logger.debug("||||||||||||||||||||  = non_scheduled 本日です") %>
                         <!-- すでに予約が入っている場合 -->
                            <% elsif reserve[0] == 0 %>
                              <% #logger.debug("========================== 本日 ") %>

                              <% if reserve[1].count === 1 %>
                              <!-- 予約の備考最初の10バイトを切り取る-->
                              <% #logger.debug("========================== 本日 予約１件") %>
                                  <% if reserve[1][0].remarks %>
                                   <% remarks = reserve[1][0].remarks[0..13] %>
                                  <% else %>
                                   <% remarks = "" %>
                                  <% end %>
                                    <td class="table-frame calender-today" align="center" id="reserved" data-bs-toggle="tooltip" data-bs-html="true" title="<%= User.find(reserve[1][0].user_id).name %><br><%= User.find(reserve[1][0].user_id).tel %><br><%= User.find(reserve[1][0].user_id).introducer %><br><%= Staff.find(@staff.id).name %><br><%= reserve[1][0].machine %><br><%= remarks %>">✖</td>
                              <% elsif reserve[1].count === 2 %>
                                     <% #logger.debug("tooltip 2") %>
                                     <!-- 予約の備考最初の10バイトを切り取る-->
                                    <% tooltip_content1 = "#{User.find(reserve[1][0].user_id).name}<br>#{User.find(reserve[1][0].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][0].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][0].staff_id).name}<br>#{reserve[1][0].machine}<br>#{reserve[1][0].remarks[0..13]}" %>
                                    <% tooltip_content2 = "#{User.find(reserve[1][1].user_id).name}<br>#{User.find(reserve[1][1].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][1].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][1].staff_id).name}<br>#{reserve[1][1].machine}<br>#{reserve[1][1].remarks[0..13]}" %>
                                    <td class="table-frame calender-today" align="center" id="reserved" data-bs-toggle="tooltip" data-bs-html="true" title="<%= tooltip_content1 %><hr><%= tooltip_content2 %>" data-container="body">✖</td>
                              <% elsif reserve[1].count === 3 %>
                                     <% #logger.debug("tooltip 3") %>
                                     <!-- 予約の備考最初の10バイトを切り取る-->
                                    <% tooltip_content1 = "#{User.find(reserve[1][0].user_id).name}<br>#{User.find(reserve[1][0].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][0].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][0].staff_id).name}<br>#{reserve[1][0].machine}<br>#{reserve[1][0].remarks[0..13]}" %>
                                    <% tooltip_content2 = "#{User.find(reserve[1][1].user_id).name}<br>#{User.find(reserve[1][1].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][1].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][1].staff_id).name}<br>#{reserve[1][1].machine}<br>#{reserve[1][1].remarks[0..13]}" %>
                                    <% tooltip_content3 = "#{User.find(reserve[1][2].user_id).name}<br>#{User.find(reserve[1][2].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][2].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][2].staff_id).name}<br>#{reserve[1][2].machine}<br>#{reserve[1][2].remarks[0..13]}" %>
                                    <td class="table-frame calender-today" align="center" id="reserved" data-bs-toggle="tooltip" data-bs-html="true" title="<%= tooltip_content1 %><hr><%= tooltip_content2 %><hr><%= tooltip_content3 %>" data-container="body">✖</td>
                              <% end %>
                               <% #logger.debug("||||||||||||||||||||  = reserved") %>
                             
                        <!-- 2件予約可能  -->
                          <% elsif reserve[0] == 2 %>
                              <% if reserve[1].present? %>
                                <% if reserve[1].count === 1 %>
                                    <% tooltip_content = "#{User.find(reserve[1][0].user_id).name}<br>#{User.find(reserve[1][0].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][0].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][0].staff_id).name}<br>#{reserve[1][0].machine}<br>#{reserve[1][0].remarks}" %>
                                    <td class="table-frame calender-today" align="center" id="reserved" data-bs-toggle="tooltip" data-bs-html="true" title=<%= tooltip_content %> data-container="body">
                                       <%= link_to "◎", new_reserve_path(machine: @machine, date: (@start_date + k).to_s, frame: (10+t*0.5).to_s, start_date: @start_date.to_s, staff_id: @staff.id,format: :js), remote: true, data: { turbo: false,frame: "#{10+t*0.5}", date: (@start_date + k).to_s} %>
                                    </td>
                                <% elsif reserve[1].count === 2 %>
                                    <% tooltip_content1 = "#{User.find(reserve[1][0].user_id).name}<br>#{User.find(reserve[1][0].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][0].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][0].staff_id).name}<br>#{reserve[1][0].machine}<br>#{reserve[1][0].remarks[0..13]}" %>
                                    <% tooltip_content2 = "#{User.find(reserve[1][1].user_id).name}<br>#{User.find(reserve[1][1].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][1].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][1].staff_id).name}<br>#{reserve[1][1].machine}<br>#{reserve[1][1].remarks[0..13]}" %>
                                    <td class="table-frame calender-today" align="center" id="reserved" data-bs-toggle="tooltip" data-bs-html="true" title="<%= tooltip_content1 %><hr><%= tooltip_content2 %>" data-container="body">
                                        <%= link_to "◎", new_reserve_path(machine: @machine, date: (@start_date + k).to_s, frame: (10+t*0.5).to_s, start_date: @start_date.to_s, staff_id: @staff.id,format: :js), remote: true, data: { turbo: false,frame: "#{10+t*0.5}", date: (@start_date + k).to_s} %>
                                    </td>
                                <% end %>
                              <% else %>
                                <td class="calender-today">
                                  <%= link_to "◎", new_reserve_path(machine: @machine, date: (@start_date + k).to_s, frame: (10+t*0.5).to_s, start_date: @start_date.to_s, staff_id: @staff.id,format: :js), remote: true, data: { turbo: false,frame: "#{10+t*0.5}", date: (@start_date + k).to_s} %>
                                </td>                          
                              <% end %>
                          
                             <% #logger.debug("||||||||||||||||||||  = reservable_two") %>
                        <!-- 1件予約可能  -->     
                           <% elsif reserve[0] == 1 %>
                               <% #logger.debug("||||||||||||||||||||  = reservable_one first") %>  
                                 <% if reserve[1].count === 0 %>
                                   <td class="calender-today">
                                      <%= link_to "◯", new_reserve_path(machine: @machine, date: (@start_date + k).to_s, frame: (10+t*0.5).to_s, start_date: @start_date.to_s, staff_id: @staff.id,format: :js), remote: true, data: { turbo: false,frame: "#{10+t*0.5}", date: (@start_date + k).to_s} %>
                                   </td>
                                 <% else %>
                                   <% if reserve[1].count === 1 %>
                                        <% tooltip_content = "#{User.find(reserve[1][0].user_id).name}<br>#{User.find(reserve[1][0].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][0].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][0].staff_id).name}<br>#{reserve[1][0].machine}<br>#{reserve[1][0].remarks}" %>
                                        <td class="table-frame calender-today" align="center" id="reserved" data-bs-toggle="tooltip" data-bs-html="true" title=<%= tooltip_content %> data-container="body">
                                           <%= link_to "◯", new_reserve_path(machine: @machine, date: (@start_date + k).to_s, frame: (10+t*0.5).to_s, start_date: @start_date.to_s, staff_id: @staff.id,format: :js), remote: true, data: { turbo: false,frame: "#{10+t*0.5}", date: (@start_date + k).to_s} %>
                                        </td> 
                                   <% elsif reserve[1].count === 2 %>
                                        <% tooltip_content1 = "#{User.find(reserve[1][0].user_id).name}<br>#{User.find(reserve[1][0].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][0].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][0].staff_id).name}<br>#{reserve[1][0].machine}<br>#{reserve[1][0].remarks[0..13]}" %>
                                        <% tooltip_content2 = "#{User.find(reserve[1][1].user_id).name}<br>#{User.find(reserve[1][1].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][1].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][1].staff_id).name}<br>#{reserve[1][1].machine}<br>#{reserve[1][1].remarks[0..13]}" %>
                                        <td class="table-frame calender-today" align="center" id="reserved" data-bs-toggle="tooltip" data-bs-html="true" title="<%= tooltip_content1 %><hr><%= tooltip_content2 %>" data-container="body">
                                           <%= link_to "◯", new_reserve_path(machine: @machine, date: (@start_date + k).to_s, frame: (10+t*0.5).to_s, start_date: @start_date.to_s, staff_id: @staff.id,format: :js), remote: true, data: { turbo: false,frame: "#{10+t*0.5}", date: (@start_date + k).to_s} %>
                                       </td>
                                   <% elsif reserve[1].count >= 3 %>
                                        <% tooltip_content1 = "#{User.find(reserve[1][0].user_id).name}<br>#{User.find(reserve[1][0].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][0].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][0].staff_id).name}<br>#{reserve[1][0].machine}<br>#{reserve[1][0].remarks[0..13]}" %>
                                        <% tooltip_content2 = "#{User.find(reserve[1][1].user_id).name}<br>#{User.find(reserve[1][1].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][1].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][1].staff_id).name}<br>#{reserve[1][1].machine}<br>#{reserve[1][1].remarks[0..13]}" %>
                                        <% tooltip_content3 = "#{User.find(reserve[1][2].user_id).name}<br>#{User.find(reserve[1][2].user_id).tel}<br>#{User.find(reserve[1][0].user_id).new_customer_display}<br>#{User.find(reserve[1][2].user_id).introducer}<br>#{Staff.find_by(id: reserve[1][2].staff_id).name}<br>#{reserve[1][2].machine}<br>#{reserve[1][2].remarks[0..13]}" %>
                                        <td class="table-frame calender-today" align="center" id="reserved" data-bs-toggle="tooltip" data-bs-html="true" title="<%= tooltip_content1 %><hr><%= tooltip_content2 %><hr><%= tooltip_content3 %>" data-container="body">
                                           <%= link_to "◯", new_reserve_path(machine: @machine, date: (@start_date + k).to_s, frame: (10+t*0.5).to_s, start_date: @start_date.to_s, staff_id: @staff.id,format: :js), remote: true, data: { turbo: false,frame: "#{10+t*0.5}", date: (@start_date + k).to_s} %>
                                       </td>                                       
                                   <% end %>
                              
                                   
                                 <% end %>
                          
                          
                             <% #logger.debug("||||||||||||||||||||  = reservable_one") %>                            

                          <% elsif reserve[0] == "non_scheduled" %> 
                             <td class="holiday calender-today">==</td>
                             <% #logger.debug("||||||||||||||||||||  = non_scheduled") %>
                          <% end %> 
                      
                         <!-- Reserve.find_by end --> 
                      <% end %>    <!-- if  start_date == Date.today  end -->
                    <% end %>   <!-- 7.times end -->
                </tr>
            <% end %>   <!-- 26.times end -->
          </tbody>
        </table>
</div>


<style>
   #reserves > div.table-responsive.table-width.reserve > table > thead > tr > th {
        background-color: #9e9e9e;
        color: #fff;
    }
    
       #reserves > div.table-responsive.table-width.reserve > table > thead > tr > th.sanday-saturday {
        background-color: #000000ad;
    }
    
    #reserves > div.table-responsive.table-width.reserve > table > tbody > tr > th.calender-time {
        font-size: 2vw;
    }
    
    #reserves > div.table-responsive.table-width.reserve > table > tbody > tr > td > a {
        text-decoration: none;
        color: ##337ab7;
    }
    
</style>










