<%= render 'reserves/title' %>

<!--<= render 'reserves/machine' %>-->
<% if @machine == "o" || @machine == "e" || @machine == "b" %>
  <%= render 'reserves/staffs' %>
<% end %>
<!--  カレンダー先週・来週 ボタン です for admin--------->
<div class="week-flex">
 <div class="pre-week">
   <% if @start_date > Date.today %>
     <%= form_tag (@machine == "o" || @machine == "e" || @machine == "b") ? reserves_new_cust_other_path : reserves_new_cust_path, :method => "get" do %>
      <input type="hidden" name="calender_start_date" value="<%= (@start_date - 7) %>" >
      <input type="hidden" name="machine" value="<%= @machine %>" >
      <% if @staff.present? %>
        <input type="hidden" name="staff_id" value="<%= @staff.id %>" >
      <% end %>
      <%= button_tag :type => "submit", class: 'btn btn-info', :style => 'border-style: none;' do %>
      <i class="fas fa-chevron-left"></i> 前週
      <% end %>
     <% end %>
   <% end %>
 </div>
 <div class="next-week">
   <% if @start_date <= (Date.today + 28) %>
    <%= form_tag (@machine == "o" || @machine == "e" || @machine == "b") ? reserves_new_cust_other_path : reserves_new_cust_path, :method => "get" do %>
      <input type="hidden" name="calender_start_date" value="<%= (@start_date + 7) %>" >
      <input type="hidden" name="machine" value="<%= @machine %>" >
      <% if @staff.present? %>
        <input type="hidden" name="staff_id" value="<%= @staff.id %>" >
      <% end %>
      <%= button_tag :type => "submit", class: 'btn btn-info', :style => 'border-style: none;' do %>
      翌週 <i class="fas fa-chevron-right"></i>
      <% end %>
    <% end %>
   <% end %>
 </div>
</div>
 <%= render 'reserves/calender_title' %>

<!---　カレンダーボタン end --------------->
<div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div class="table-responsive table-width reserve">
        <table class="table table-bordered table-hover">
          <thead class="thead-light reserves-calender" >
            <tr>
                <th scope="col"></th>
              <% 7.times do |i| %>
                  <% if (@start_date + i).wday.to_i == 0 || (@start_date + i).wday.to_i == 6 %>
                    <th class="calender-date sanday-saturday" scope="col"><%= (@start_date + i).strftime("%m/%d") %></th>
                  <% else %>
                    <th class="calender-date weekday" scope="col"><%= (@start_date + i).strftime("%m/%d") %></th>
                  <% end %>                  
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% 25.times do |t| %>    
                <tr>
                  <th class="calender-time" scope="row"><%= display_time(10 + t*0.5) %></th>
                    <% 7.times do |k| %>
                      <% unless (@start_date + k) == Date.today %>
                     <!-- カレンダーの左の列が本日じゃなければ  -->
                        <% reserve = new_reserve_availability_20230824(@machine, @staff, (@start_date + k), (10+t*0.5)) %>
                         <!-- 出勤簿が書かれて無い場合 -->
                            <% if reserve[0] == -1 %>
                              <td class="holiday calender-today">==</td>
                              <% #logger.debug("||||||||||||||||||||  = non_scheduled 本日ではない") %>
                         <!-- すでに予約が入っている場合 -->
                            <% elsif reserve[0] == 0 %>
                              <% if reserve[1].count === 1 %>
                              <!-- 予約の備考最初の10バイトを切り取る-->
                                  <% if reserve[1][0].remarks %>
                                   <% remarks = reserve[1][0].remarks[0..13] %>
                                  <% else %>
                                   <% remarks = "" %>
                                  <% end %>
                                    <td>✖</td>
                              <% elsif reserve[1].count === 2 %>
                                     <!-- 予約の備考最初の10バイトを切り取る-->
                                    <td>✖️</td>
                              <% elsif reserve[1].count === 3 %>
                                     <!-- 予約の備考最初の10バイトを切り取る-->
                                    <td>✖️</td>
                              <% else %>
                                    <td>==</td>
                              <% end %>
                               <% #logger.debug("||||||||||||||||||||  = reserved") %>
                             
                        <!-- 2件予約可能  -->
                            <% elsif reserve[0] == 2 %>
                            <!-- すでに予約が入っている場合だ <%= reserve[0] %> -->
                              <% if reserve[1].present? %>
                                <% if reserve[1].count === 1 %>
                                    <td>
                                       <%= link_to "◎", new_reserve_path(machine: @machine, date: (@start_date + k).to_s, frame: (10+t*0.5).to_s, start_date: @start_date.to_s, staff_id: @staff.id,format: :js), remote: true, data: { turbo: false,frame: "#{10+t*0.5}", date: (@start_date + k).to_s} %>
                                    < /td>
                                <% elsif reserve[1].count === 2 %>
                                    <td>
                                        <%= link_to "◎", new_reserve_path(machine: @machine, date: (@start_date + k).to_s, frame: (10+t*0.5).to_s, start_date: @start_date.to_s, staff_id: @staff.id,format: :js), remote: true, data: { turbo: false,frame: "#{10+t*0.5}", date: (@start_date + k).to_s} %>
                                    </td>
                                <% end %>
                              <% else %>
                                <td>
                                  <%= link_to "◎", new_reserve_path(machine: @machine, date: (@start_date + k).to_s, frame: (10+t*0.5).to_s, start_date: @start_date.to_s, staff_id: @staff.id,format: :js), remote: true, data: { turbo: false,frame: "#{10+t*0.5}", date: (@start_date + k).to_s} %>
                                </td>                          
                              <% end %>
                          
                             <% #logger.debug("||||||||||||||||||||  = reservable_two") %>
                        <!-- 1件予約可能 <%=  reserve[0] %> -->     
                            <% elsif reserve[0] == 1 %>
                                 <% if reserve[1].present? %>
                                   <td>
                                      <%= link_to "◯", new_reserve_path(machine: @machine, date: (@start_date + k).to_s, frame: (10+t*0.5).to_s, start_date: @start_date.to_s, staff_id: @staff.id,format: :js), remote: true, data: { turbo: false,frame: "#{10+t*0.5}", date: (@start_date + k).to_s} %>
                                   </td>
                                 <% else %>
                                        <td>
                                           <%= link_to "◯", new_reserve_path(machine: @machine, date: (@start_date + k).to_s, frame: (10+t*0.5).to_s, start_date: @start_date.to_s, staff_id: @staff.id,format: :js), remote: true, data: { turbo: false,frame: "#{10+t*0.5}", date: (@start_date + k).to_s} %>
                                       </td>
                                   
                                 <% end %>
                          
                          
                             <% #logger.debug("||||||||||||||||||||  = reservable_one") %>                            

                          <% elsif reserve[0] == -1 %> 
                             <td class="holiday calender-today">==</td>
                             <% #logger.debug("||||||||||||||||||||  = non_scheduled") %>
                          <% end %>                      

                      
                      <% else %>   <!-- if  start_date == Date.today  else to start_date != Date.today -->
                         <% reserve = new_reserve_availability_20230824(@machine, @staff, (@start_date + k), (10+t*0.5)) %>
                      <!-- カレンダーの左の列が本日なら  -->
                            <!-- 予約の備考最初の10バイトを切り取る-->
                            <% if reserve[0] == -1 %>
                                <td class="holiday calender-today">==</td>
                            <% elsif reserve[0] == 0 %>
                              <!-- 予約が入っていて休日ではない場合 -->
                                <td>✖</td>
                            <% elsif reserve[0] == 2 %>
                                <td class="calender-today">◎</td>
                            <% elsif reserve[0] == 1 %>
                                <td class="calender-today">◯</td>
                            <% else %>
                                <td class="calender-today">==</td>
                            <% end %>    <!-- Reserve.find_by end --> 
                      <% end %>    <!-- unless  start_date == Date.today  end -->
                    <% end %>   <!-- 7.times end -->
                </tr>
            <% end %>   <!-- 26.times end -->
          </tbody>
        </table>
</div>


<style>
   #reserves > div.table-responsive.table-width.reserve > table > thead > tr > th {
        background-color: #9e9e9e;
        color: #fff;
    }
    
       #reserves > div.table-responsive.table-width.reserve > table > thead > tr > th.sanday-saturday {
        background-color: #000000ad;
    }
    
    #reserves > div.table-responsive.table-width.reserve > table > tbody > tr > th.calender-time {
        font-size: 2vw;
    }
    
    #reserves > div.table-responsive.table-width.reserve > table > tbody > tr > td > a {
        text-decoration: none;
        color: ##337ab7;
    }
    
</style>









