<div class="mr-container">
  <h2 class="mr-title">📋 予約履歴</h2>

  <% if @reserves.empty? %>
    <div class="mr-empty">予約はありません</div>
  <% else %>
    <div class="mr-table-wrap">
      <table class="mr-table">
        <thead>
          <tr>
            <th>予約日付</th>
            <th>時間</th>
            <% if User.find(current_user.id).user_type == "1" %>
              <th>予約者</th>
            <% end %>
            <th>内容</th>
            <th>スタッフ</th>
            <th>備考</th>
            <% if User.find(current_user.id).user_type == "1" %>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @reserves.each do |reserve| %>
            <% user = User.find(reserve.user_id) %>
            <% is_medirosa = %w[stem esthe].include?(reserve.machine) %>
            <% duration = Reserve.where(root_reserve_id: reserve.id).count * 30 %>
            <% menu_label = case reserve.machine
                 when 'stem' then '幹細胞'
                 when 'esthe' then 'エステ'
                 when 'h' then 'ホリスティック'
                 when 'w' then 'ウェルビーイング'
                 when 'o' then '算命学'
                 when 'e' then 'エステ'
                 when 'b' then '鍼・整体'
                 else reserve.machine
               end %>
            <tr class="<%= is_medirosa ? 'mr-medirosa' : '' %>">
              <td><%= reserve.reserved_date.strftime("%-m/%-d") %>（<%= %w[日 月 火 水 木 金 土][reserve.reserved_date.wday] %>）</td>
              <td><%= display_time(reserve.reserved_space.to_f) %>〜<%= display_time(reserve.reserved_space.to_f + duration / 60.0) %><br><span class="mr-duration"><%= duration %>分</span></td>
              <% if User.find(current_user.id).user_type == "1" %>
                <td style="color: <%= user.new_customer? ? '#2563eb' : 'inherit' %>"><%= user.name %></td>
              <% end %>
              <td>
                <%= menu_label %>
                <% if is_medirosa %><span class="mr-badge">medirosa</span><% end %>
              </td>
              <td><%= Staff.find_by(id: reserve.staff_id)&.name %></td>
              <td class="mr-remarks"><%= reserve.remarks %></td>
              <% if User.find(current_user.id).user_type == "1" %>
                <td><%= link_to "削除", "/reserves/#{reserve.id}", method: :delete, data: { confirm: "#{reserve.reserved_date.strftime('%-m/%-d')} #{display_time(reserve.reserved_space.to_f)}〜の予約を取り消しますか？" }, class: "mr-delete-btn" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
