<div id="new-header">
    <ul class="new-header">
        <li class="logo"><a href="/"><img src="/new-images/logo.png" class="logo"></a></li>
        <li class="not_image"><a href="/">HOME</a></li>
        <li class="not_image"><a href="/about_metatron">メタトロンとは</a></li>
        <li class="not_image"><%= link_to "料金表", price_list_select_path, { :remote => true } %></li>

        <% if user_signed_in? %>
            <li class="not_image"><%= link_to '必ずお読みください', "/home/readmust/#{User.find_by(id: current_user.id).user_type}" %></li>
            <!--<li class="not_image reserve_menu"><= link_to '予約カレンダー', "/reserves/5/index" %>-->
            <li class="not_image"><%= link_to 'プロフィール', edit_user_registration_path %></li>
            <li class="not_image reserve_menu"><a href="">予約関連</a>
              <ul class="dropdown">
                  <!--<li><= link_to registration_completed?.size > 0 ? "/users/#{current_user.id}/edit" : "/reserves/h/index" do %><img src="/new-images/yoyaku.png" class="button">< end %></li>-->
                  <li><%= link_to "/reserves/h/index" do %><img src="/new-images/yoyaku.png" class="button"><% end %></li>
                  <!--<li><= link_to '予約カレンダー', registration_completed?.size > 0 ? "/users/edit" : "/reserves/h/index" %></li>-->
                  <li><%= link_to 'MY予約', reserves_my_reserved_path %></li>
                  <li><%= link_to "回数券", payments_pay_select_path %></li>
                  <% if staff_info %>
                    <li><%= link_to 'スケジュール入力', staff_schedules_path(staff_info) %></li>
                  <% end %>
              </ul> 
            </li>
            <li><%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %><img src="/new-images/logout.png" class="button"><% end %></li>
        <% else %>
            <li><%= link_to new_user_session_path, data: { turbo: false } do %><img src="/new-images/yoyaku_link.png" class="button"><% end %></li>
            <!--<li><= link_to new_user_registration_path do %><img src="/new-images/signup_button.png" class="button">< end %></li>-->
            <!--<li><= link_to new_user_session_path do %><img src="/new-images/login_button.png" class="button">< end %></li>-->
        <% end %>
        <% if user_signed_in? %>
          <% if admin_user? %>

          <% else %>
            <li><%= link_to new_inquiry_path do %><img src="/new-images/inquiry_button.png" class="button"><% end %></li>
          <% end %>
        <% else %>
            <li><%= link_to new_inquiry_path do %><img src="/new-images/inquiry_button.png" class="button"><% end %></li>
        <% end %>
    </ul>

</div>
<div id="sp-new-header">
    <ul class="sp-new-header">
        <li class="logo"><a href="/"><img src="/new-images/logo.png" class="logo-img"></a></li>
        <% if user_signed_in? %>
            <li></li>
            <li><%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %><img src="/new-images/logout_sp.png" class="button"><% end %></li>
        <% else %>
            <li><%= link_to new_user_session_path, data: { turbo: false } do %><img src="/new-images/sp-login.png" class="button"><% end %></li>
            <li><%= link_to new_user_session_path, data: { turbo: false } do %><img src="/new-images/yoyakusp.jpg" class="button"><% end %></li>
        <% end %>
        <% if !user_signed_in? || (user_signed_in? && !admin_user?) %>
           <li><%= link_to new_inquiry_path do %><img src="/new-images/sp-inquiry.png" class="button"><% end %></li>
        <% end %>
        <li class="sp-menu"><img src="/new-images/sp-menu.png" class="button" id="open"></li>
    </ul>
</div>
<div class="overlay">
    <img src="/new-images/sp-close.png" class="button" id="close">
    <section class="nav">
        <ul>
            <li><a href="/about_metatron">メタトロンとは</a></li>
            <li><%= link_to "メタトロン料金表", price_list_select_path, { :remote => true , id: "price_list_select_link"} %></li>
            <!--<li><a href="/price_plan">Special Treatment（腸もみ等）</a></li>-->
            <!--<li><a href="/price_plan">Special Treatment料金表</a></li>-->
            <% if user_signed_in? %>
              <li><%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>ログアウト<% end %></li>
            <% else %>
              <!--<li><a href="/users/sign_in">ご予約</a></li>-->
              <!--<li><a href="/users/sign_in">ログイン</a></li>-->
              <li><%= link_to new_user_session_path, data: { turbo: false } do %><img src="/new-images/yoyaku_link.png" class="button"><% end %></li>
              <!--<li><a href="/users/sign_up">新規登録</a></li>-->
            <% end %>

            <li><a href="/#access" id="access_link">アクセス</a></li>
            <li><a href="/inquiries/new">お問合せ</a></li>
            <!--<li><a href="/price_plan">メタトロンをご購入を検討の方</a></li>-->
            <% if user_signed_in? %>
               <li><%= link_to '必ずお読みください', "/home/readmust/#{User.find_by(id: current_user.id).user_type}" %></li>
                  <li><%= link_to registration_completed?.size > 0 ? "/users/edit" : "/reserves/h/index" do %><img src="/new-images/yoyaku.png" class="button"><% end %></li>
               <!--<li><= link_to 'ご予約', "/reserves/h/index" %></li>-->
               <li><%= link_to 'MY予約', reserves_my_reserved_path %></li>
               <li><%= link_to '回数券', payments_pay_select_path %></li>
                  <% if staff_info %>
                    <li><%= link_to 'スケジュール入力', staff_schedules_path(staff_info) %></li>
                  <% end %>
               <li><%= link_to 'プロフィール', edit_user_registration_path %></li>
            <% else %>
            <% end %>
        </ul>
    </section>
    
</div>

<script>
    

    //   const open = document.getElementById('open');
    //   const overlay = document.querySelector('.overlay');
    //   const close = document.getElementById('close');
      

    
      document.getElementById('open').addEventListener('click', () => {
        document.querySelector('.overlay').classList.add('show');
        document.getElementById('open').classList.add('hide');
      });
    
      document.getElementById('close').addEventListener('click', () => {
        document.querySelector('.overlay').classList.remove('show');
        document.getElementById('open').classList.remove('hide');
      });
      
      // 20240823 追加 for 荒川料金選択
      
      document.getElementById('price_list_select_link').addEventListener('click', () => {
        console.log("priceListSelectMenu js 通過");
        document.querySelector('.overlay').classList.remove('show');
        document.getElementById('open').classList.remove('hide');
      });

    
    
  document.addEventListener("DOMContentLoaded", () => {
  if (typeof $ !== "undefined") {
    $('#access_link').on('click', function (e) {
      e.preventDefault();  // リンクのデフォルト動作を防止
      console.log("============================= access_link click");

      const speed = 400;
      const href = $(this).attr("href");
      const target = $('#access');
      const position = target.offset().top;

      $('html, body').animate({
        scrollTop: position
      }, speed, 'swing');

      $('.overlay').toggleClass('show');
      $('.sp-menu > #open').toggleClass('hide');
    });
  } else {
    console.warn("⚠️ jQuery is not defined. access_link won't work.");
  }
});

    
</script>