<div id="main-top" class="main-top">
    <%= render 'layouts/main/top_word' %>
    <%= render 'layouts/main/features' %>
    <%= render 'layouts/main/plan_price' %>
    <%= render 'layouts/main/footer' %>
    <%= render 'layouts/main/copyright' %>
</div>


