<div class="container">
    <h2 class="sanmei-title">算命学メニュー</h2>
    <ul class="sanmei-ul">
      <li><%= link_to "プロ命式", sanmeis_meishiki_path, :class => "btn btn-info sanmei-btn" %></li>
      <li><%= link_to "エネルギー表", sanmeis_enegry_path, :class => "btn btn-info sanmei-btn"  %></li>
      <li><%= link_to "100年表", sanmeis_handred_hyou_path, :class => "btn btn-info sanmei-btn"  %></li>
      <li><%= link_to "100年図", sanmeis_handred_graph_path, :class => "btn btn-info sanmei-btn"  %></li>
      <li><%= link_to "行動範囲", sanmeis_koudo_area_path, :class => "btn btn-info sanmei-btn"  %></li>
      <li><%= link_to "六親図", sanmeis_rikushin_path, :class => "btn btn-info sanmei-btn"  %></li>
      <li><%= link_to "命式一覧", meishikis_path, :class => "btn btn-success sanmei-btn"  %></li>
      <li><%= link_to "周易遁甲", "http://matsushita37.whitesnow.jp/houi/", :class => "btn btn-warning sanmei-btn", target: :_blank  %></li>
      
    </ul>
</div>